@use '../../../assets/styles/constants.scss' as *;
@import '../../../assets/styles/breakpoints.scss';

.sidebar {
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: $color__black_10;
  background-color: $color__white;

  max-height: calc(100vh - 80px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0px;
  }

  @include for-desktop-small {
    width: 250px;
  }

  @include for-tablet-landscape-up {
    width: 200px;
  }
}

.title {
  font-weight: 700;
  font-size: 20px;

  margin-top: 24px;
  margin-left: 32px;
  margin-bottom: 48px;

  @include for-desktop-small {
    zoom: 0.8;
  }

  @include for-tablet-landscape-up {
    zoom: 0.7;
  }
  @include for-tablet-portrait-up {
    zoom: 0.6;
  }
  @include semi-phone {
    zoom: 0.5;
  }
  @include for-phone-only {
    zoom: 0.4;
  }
}

.sidebar a {
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;

  color: $color__black_10;

  transition: 0.2s all ease;
}

.sidebar__item {
  height: 37px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 600;
  font-size: 20px;
  text-decoration: none;

  list-style: none;

  transition: 0.1s all ease;

  margin-bottom: 40px;
  margin-left: 32px;

  @include for-desktop-small {
    zoom: 0.8;
  }

  @include for-tablet-landscape-up {
    zoom: 0.7;
  }
  @include for-tablet-portrait-up {
    zoom: 0.6;
  }
  @include semi-phone {
    zoom: 0.5;
  }
  @include for-phone-only {
    zoom: 0.4;
  }
}

.sidebar__item:hover:not(.sidebar__item_active) {
  cursor: pointer;
  opacity: 0.8;
}

.sidebar__item_active {
  cursor: default;
}

.sidebar__item_content {
  display: flex;
  align-items: center;
}

.border__active {
  width: 6px;
  height: 37px;

  background-color: $color__purple;
  border-radius: 5px 0px 0px 5px;
}

.sidebar__item_wrapper {
  display: flex;
  justify-content: space-between;
}

.dropdown {
  width: 15px;
  height: 15px;

  margin-left: 30px;
  margin-right: 30px;

  transform: rotate(180deg);
}

.dropdown_active {
  transform: rotate(0deg);
}

.subsettings {
  margin-left: 48px;
  list-style: none;

  @include for-desktop-small {
    margin-left: 40px;
  }

  @include for-tablet-landscape-up {
    margin-left: 32px;
  }
}

.sb_icon {
  width: 32px;
  height: 32px;

  margin-right: 16px;
}
